<?xml version='1.0' encoding='UTF-8'?>

<!--
DataQ v0.3 example configuration file.
-->

<!--
	<dataq address="HOSTNAME" port="PORT" daemon="True/False">
	
	address         IP Address or hostname to listen on. Default is empty,
	                which means it should listen on all addresses.
	port            Port to listen on. Default is 50000.
	daemon          Run as daemon (detach from terminal)?
-->
<dataq port="50000" daemon="false" verbose="true">
	<!-- 
	Allow access to all queues that don't explicitly deny to be access from the 
	localhost.
	-->
	<access>
		<host>127.0.0.1</host>
	</access>
	<!--
	Allow user 'john' with password 'johnspw' from everywhere for all queues
	that dont explicitly disallow.
	-->
	<access>
		<username>john</username>
		<password>johnspw</password>
	</access>
	<!--
	Allow user 'pete' with password 'petespw' from IP '192.168.1.5'.
	-->
	<access>
		<host>192.168.1.5</host>
		<username>pete</username>
		<password>petespw</password>
	</access>

	<!-- 
	<queue name="NAME" type="FIFO/FILO" size="SIZE" overflow="deny/pop" />

	name            Name of the queue. Must not contain spaces.
	type            The type of queue. Either FIFO (First In, First Out) or
	                FILO (First In, Last Out).
	size            Maximum number of messages allowed in the queue.
	overflow        Action to take when the queue is full. 'deny' means no
	                new messages may be pushed onto the queue. 'pop' means a
					pop is performed when a push is done onto a full queue. The
					actual result depends on the qeueu type.
	-->
	<queue name='backup' />
	<queue name='mp3' type='fifo' size='1' overflow='pop' />
	<queue name='restricted' type='fifo' size='5' overflow='deny'>
		<!--
		Don't allow user 'john' to this queue (from anywhere)
		-->
		<access sense="deny">
			<username>john</username>
		</access>
	</queue>
</dataq>
